<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/CSS/users.css">
</head>
<body>
    <h1>Welcome to portal</h1>
    <a href="/">Home</a>
    <a href="/admin/adduser">Add User</a>
    <br><br>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>age</th>
            <th>E-mail</th>
            <th>city</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for(var i=0; i<users.length; i++) { %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].age %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].city %></td>
                <td><a href="/admin/edituser/<%= users[i]._id %>?edit=true"><img src="/icons8-edit.gif"/></a></td>
                <td><form action="/admin/deleteuser" method="POST">
                    <input type="hidden" name="id" value="<%= users[i]._id %>">
                    <button type="submit"><img src="/delete-button-svgrepo-com.png"/></button>
                </form></td>
                <!-- <td><a href="/admin/deleteuser/<%= users[i]._id %>"></a></td> -->
            </tr>
        <%}%>
    </table>
    <section class="pagination">
        
            <input type="hidden" id="page" value="<%= currentPage %>"/>
            <select id="select" value="<%= limit %>">
                <option value="2" >2</option>
                <option value="5" >5</option>
                <option value="10">10</option>
            </select>
            <button type="submit" onclick="changeno()" >Go</button>
        <a href="/admin/users?page=<%= previousPage %>&limit=<%= limit %>" class='<%= (!hasPreviousPage) ?"disabled":"" %>' disabled="disabled"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/></svg></a>
        <span class="crrno"><%= currentPage %> </span>
        <a href="/admin/users?page=<%= nextPage %>&limit=<%= limit %>" class='<%= (!hasNextPage) ?"disabled":"" %>'><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/></svg></a>
    </section>
    
</body>
<script>
    function changeno(){ 
        // e.perventDefault();
        var page = document.getElementById('page');
        var select = document.getElementById('select');
        // alert(page);
        var url = "http://localhost:2984/admin/users?page="+page.value+"&limit="+select.value;
        
        window.location = url;
    }
    // console.log(document.getElementById('select').value)
    document.getElementById('select').value = "<%= limit %>";   
    
</script>
</html>